certifi
#charset-normalizernano 
cycler
idna
joblib
kiwisolver
matplotlib
numpy
#opencv-python
pandas
Pillow
pyparsing
python-dateutil
pytz
requests
#scikit-learn
scipy
six
#sklearn
tabulate
threadpoolctl
#torch
torchvision
typing-extensions
urllib3
